/* body {
    background-color: #342d34;
   color: white;
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    line-height: var(--bodyLineHeight);
    margin: 0;
    min-block-size: 100vh;
     display: grid;
    place-items: center;
  }
   */

   html {
    font-size: 10px;
    color: #4e4d4d;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
   }
   main {
    margin: 2rem auto;
    max-width: 50rem;
    background: linear-gradient(30deg, #3dc0c0, #5bcea0);
    padding: 3rem 1.6rem 6rem 1.6rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 2px  lightgrey;
   }
   h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    margin: 0;
   }
   section {
background: white;
font-size: 1.8rem;
padding: 0 1.6 rem;
border-radius: 1.5rem;
   }
   section div {
    padding: 1.6rem 0;
   }
   .bill {
    display: flex;
     
   }
   .bill label {
    flex: 1;
    align-self:center;

   }
   .bill input {
    flex: 3;
   }
   input[type="number"] {
    background: #f4f4f5;
    border: 1px solid lightgrey;
    font-size: 1.6rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
    border-radius: 0.5rem;
    font-family: inherit;
   }
   .space {
    display: flex;
    justify-content: space-between;
   }
  
   
   .range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #eee;
    margin-top: 1.32rem;
    border-radius: 0.3rem;
    outline-color: rgb(24, 192, 243);
   }
   .range:: ::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: #5bcea0;
    cursor: pointer;
   }
